In [4]:
from datetime import date, datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
import datetime as dt
import pandas as pd
import json
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
# sc = SparkContext('local')
# spark = SparkSession(sc)

In [5]:
def cal_std_day(befor_day):   
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)  
    return str(year)+str(month)+ str(day)

## Transform

In [6]:
path = '/final_data/weather/weather_20220417.json'
tmp = spark.read.json(path, encoding='utf-8')
tmp.show()

+--------------------+
|            response|
+--------------------+
|{{JSON, {[{, 0, 0...|
+--------------------+

In [7]:
tmp2 = tmp.select('response').first()
df = spark.createDataFrame(tmp2)
tmp3 = df.select('body').first()
tmp4 = spark.createDataFrame(tmp3)
tmp5 = tmp4.select('items').first()
df2 = spark.createDataFrame(tmp5).first()
fin_df = spark.createDataFrame(df2['item'])
fin_df.show()

+----------+----------+-------+----------+----+--------+---+-------+-------+----+-----+------+-----+-----+-----+------+-------+------+-------+---+---+-------+----+---+-------+-----+-----+----+-------+----+----------------+----+-------+----+---+-------+---+-------+
|clfmAbbrCd|dc10LmcsCa|dc10Tca|dmstMtphNo|dsnw|gndSttCd| hm|hmQcflg|hr3Fhsc|icsr|lcsCh|m005Te|m01Te|m02Te|m03Te|    pa|paQcflg|    ps|psQcflg| pv| rn|rnQcflg|rnum| ss|ssQcflg|stnId|stnNm|  ta|taQcflg|  td|              tm|  ts|tsQcflg|  vs| wd|wdQcflg| ws|wsQcflg|
+----------+----------+-------+----------+----+--------+---+-------+-------+----+-----+------+-----+-----+-----+------+-------+------+-------+---+---+-------+----+---+-------+-----+-----+----+-------+----+----------------+----+-------+----+---+-------+---+-------+
|          |         0|      0|          |    |        | 71|       |       |    |     |  13.6| 14.4| 14.7| 14.4|1007.4|       |1017.8|       |8.7|   |       |   1|   |      9|  108| 서울|10.1|       | 5.0|2022-04-17 00:00| 6.2|       |1591|250|       |2.4|       |
|          |         0|      0|          |    |        | 75|       |       |    |     |  13.2| 14.1| 14.5| 14.4|1007.6|       |1018.0|       |8.8|   |       |   2|   |      9|  108| 서울| 9.4|       | 5.1|2022-04-17 01:00| 5.0|       |1430|230|       |1.3|       |
|          |         0|      0|          |    |        | 82|       |       |    |     |  12.8| 13.7| 14.3| 14.3|1007.5|       |1017.9|       |9.3|   |       |   3|   |      9|  108| 서울| 8.9|       | 5.9|2022-04-17 02:00| 5.1|       |1020|180|       |2.8|       |
|          |         0|      0|        19|    |        | 82|       |       |    |     |  12.4| 13.4| 14.1| 14.2|1007.5|       |1017.9|       |9.0|   |       |   4|   |      9|  108| 서울| 8.4|       | 5.4|2022-04-17 03:00| 3.9|       | 912|270|       |1.3|       |
|          |         0|      0|        19|    |        | 84|       |       |    |     |  12.0| 13.1| 13.9| 14.2|1007.5|       |1018.0|       |8.8|   |       |   5|   |      9|  108| 서울| 7.8|       | 5.2|2022-04-17 04:00| 3.1|       | 841|270|       |1.2|       |
|          |         0|      0|        19|    |        | 85|       |       |    |     |  11.6| 12.8| 13.7| 14.0|1007.5|       |1018.0|       |8.8|   |       |   6|   |      9|  108| 서울| 7.6|       | 5.2|2022-04-17 05:00| 2.8|       | 867|160|       |0.7|       |
|          |         0|      0|        19|    |        | 86|       |       | 0.0|     |  11.3| 12.5| 13.4| 13.9|1007.7|       |1018.2|       |8.7|   |       |   7|0.0|       |  108| 서울| 7.2|       | 5.0|2022-04-17 06:00| 2.6|       | 881| 90|       |1.3|       |
|          |         0|      0|        19|    |        | 85|       |       |0.19|     |  11.2| 12.2| 13.2| 13.8|1008.1|       |1018.6|       |8.8|   |       |   8|0.5|       |  108| 서울| 7.5|       | 5.1|2022-04-17 07:00| 5.1|       | 980|110|       |0.5|       |
|          |         0|      0|        19|    |        | 79|       |       |0.81|     |  11.5| 12.1| 13.0| 13.7|1008.6|       |1019.0|       |9.4|   |       |   9|1.0|       |  108| 서울| 9.6|       | 6.1|2022-04-17 08:00|13.2|       |1192| 20|       |1.7|       |
|          |         0|      0|          |    |        | 65|       |       |1.63|     |  12.4| 12.1| 12.8| 13.5|1008.7|       |1019.0|       |9.0|   |       |  10|1.0|       |  108| 서울|11.8|       | 5.4|2022-04-17 09:00|22.6|       |1468| 50|       |1.7|       |
|          |         0|      0|          |    |        | 52|       |       |2.33|     |  13.8| 12.5| 12.7| 13.4|1009.2|       |1019.4|       |8.2|   |       |  11|1.0|       |  108| 서울|14.0|       | 4.2|2022-04-17 10:00|31.6|       |1999|180|       |1.8|       |
|          |         0|      0|          |    |        | 44|       |       |2.95|     |  15.5| 13.0| 12.7| 13.3|1008.9|       |1019.1|       |8.0|   |       |  12|1.0|       |  108| 서울|16.0|       | 3.7|2022-04-17 11:00|38.6|       |2000|180|       |2.9|       |
|          |         0|      0|          |    |        | 36|       |       |3.34|     |  17.4| 13.8| 12.9| 13.2|1008.3|       |1018.3|       |7.5|   |       |  13|1.0|       |  108| 서울|18.2|       | 2.8|2022-04-17 12:00|43.9|       |2000|180|       |3.1|       |
|          |         0|      0|          |    |        | 34|       |       |3.45|     |  18.9| 14.6| 13.1| 13.2|1007.7|       |1017.7|       |7.6|   |       |  14|1.0|       |  108| 서울|19.4|       | 3.1|2022-04-17 13:00|45.4|       |2000|270|       |4.1|       |
|          |         0|      0|          |    |        | 28|       |       |3.28|     |  19.9| 15.4| 13.4| 13.3|1007.0|       |1016.9|       |7.1|   |       |  15|1.0|       |  108| 서울|21.3|       | 2.0|2022-04-17 14:00|45.6|       |2000|230|       |3.1|       |
|          |         0|      0|          |    |        | 31|       |       |2.88|     |  20.5| 16.1| 13.8| 13.4|1006.7|       |1016.6|       |7.7|   |       |  16|1.0|       |  108| 서울|21.2|       | 3.3|2022-04-17 15:00|41.2|       |2000|270|       |4.8|       |
|          |         0|      0|          |    |        | 33|       |       |2.43|     |  20.3| 16.6| 14.3| 13.5|1006.5|       |1016.4|       |8.1|   |       |  17|1.0|       |  108| 서울|21.0|       | 4.0|2022-04-17 16:00|37.2|       |2000|250|       |3.2|       |
|        Ci|         0|      5|          |    |        | 27|       |       |1.65|     |  19.8| 16.9| 14.7| 13.7|1006.6|       |1016.5|       |6.2|   |       |  18|1.0|       |  108| 서울|19.7|       | 0.1|2022-04-17 17:00|28.0|       |2000|250|       |4.1|       |
|        Ci|         0|      6|          |    |        | 25|       |       |0.85|     |  18.9| 17.0| 15.0| 14.0|1006.4|       |1016.4|       |5.5|   |       |  19|1.0|       |  108| 서울|18.9|       |-1.5|2022-04-17 18:00|19.7|       |2000|230|       |2.5|       |
|          |         0|      7|          |    |        | 27|       |       |0.21|     |  17.9| 16.8| 15.3| 14.2|1006.7|       |1016.8|       |5.3|   |       |  20|0.2|       |  108| 서울|17.1|       |-2.0|2022-04-17 19:00|14.5|       |2000|270|       |2.5|       |
+----------+----------+-------+----------+----+--------+---+-------+-------+----+-----+------+-----+-----+-----+------+-------+------+-------+---+---+-------+----+---+-------+-----+-----+----+-------+----+----------------+----+-------+----+---+-------+---+-------+
only showing top 20 rows

In [48]:
weather = fin_df.select(substring(col('tm'),1,10).alias('날짜')
                           ,substring(col('tm'),12,17).alias('시간대')
                          ,col('ta').alias('기온(°C)')
                          ,col('rn').alias('강수량(mm)')
                          ,col('ws').alias('풍속(m/s)')
                          ,col('wd').alias('풍향(16방위)')
                          ,col('hm').alias('습도(%)')
                          ,col('pv').alias('증기압(hPa)')
                          ,col('td').alias('이슬점온도(°C)')
                          ,col('pa').alias('현지기압(hPa)')
                          ,col('ps').alias('해면기압(hPa)')
                          ,col('ss').alias('일조(hr)')
                          ,col('icsr').alias('일사(MJ/m2)')
                          ,col('dsnw').alias('적설(cm)')
                          ,col('vs').alias('시정(10m)')
                          ,col('ts').alias('지면온도(°C)')).filter((col('시간대') >= '10:00') & (col('시간대') <= '22:00'))
                        
weather.show()

+----------+------+--------+----------+---------+------------+-------+-----------+--------------+-------------+-------------+--------+-----------+--------+---------+------------+
|      날짜|시간대|기온(°C)|강수량(mm)|풍속(m/s)|풍향(16방위)|습도(%)|증기압(hPa)|이슬점온도(°C)|현지기압(hPa)|해면기압(hPa)|일조(hr)|일사(MJ/m2)|적설(cm)|시정(10m)|지면온도(°C)|
+----------+------+--------+----------+---------+------------+-------+-----------+--------------+-------------+-------------+--------+-----------+--------+---------+------------+
|2022-04-17| 10:00|    14.0|          |      1.8|         180|     52|        8.2|           4.2|       1009.2|       1019.4|     1.0|       2.33|        |     1999|        31.6|
|2022-04-17| 11:00|    16.0|          |      2.9|         180|     44|        8.0|           3.7|       1008.9|       1019.1|     1.0|       2.95|        |     2000|        38.6|
|2022-04-17| 12:00|    18.2|          |      3.1|         180|     36|        7.5|           2.8|       1008.3|       1018.3|     1.0|       3.34|        |     2000|        43.9|
|2022-04-17| 13:00|    19.4|          |      4.1|         270|     34|        7.6|           3.1|       1007.7|       1017.7|     1.0|       3.45|        |     2000|        45.4|
|2022-04-17| 14:00|    21.3|          |      3.1|         230|     28|        7.1|           2.0|       1007.0|       1016.9|     1.0|       3.28|        |     2000|        45.6|
|2022-04-17| 15:00|    21.2|          |      4.8|         270|     31|        7.7|           3.3|       1006.7|       1016.6|     1.0|       2.88|        |     2000|        41.2|
|2022-04-17| 16:00|    21.0|          |      3.2|         250|     33|        8.1|           4.0|       1006.5|       1016.4|     1.0|       2.43|        |     2000|        37.2|
|2022-04-17| 17:00|    19.7|          |      4.1|         250|     27|        6.2|           0.1|       1006.6|       1016.5|     1.0|       1.65|        |     2000|        28.0|
|2022-04-17| 18:00|    18.9|          |      2.5|         230|     25|        5.5|          -1.5|       1006.4|       1016.4|     1.0|       0.85|        |     2000|        19.7|
|2022-04-17| 19:00|    17.1|          |      2.5|         270|     27|        5.3|          -2.0|       1006.7|       1016.8|     0.2|       0.21|        |     2000|        14.5|
|2022-04-17| 20:00|    15.5|          |      2.7|         270|     40|        7.0|           1.9|       1007.1|       1017.3|     0.0|        0.0|        |     2000|        12.2|
|2022-04-17| 21:00|    14.4|          |      1.8|         250|     45|        7.4|           2.6|       1007.4|       1017.6|        |           |        |     2000|        10.1|
|2022-04-17| 22:00|    13.4|          |      3.2|         250|     55|        8.4|           4.5|       1008.1|       1018.3|        |           |        |     1986|        10.0|
+----------+------+--------+----------+---------+------------+-------+-----------+--------------+-------------+-------------+--------+-----------+--------+---------+------------+