In [1]:
import requests
from urllib.parse import urlparse
import pandas as pd
import geopandas
from tqdm import tqdm_notebook

In [163]:
def addr_to_xy(addrs):
    global val
    url = 'http://dapi.kakao.com/v2/local/search/address.json?&query=' + addrs
    result = requests.get(urlparse(url).geturl(),
                         headers={'Authorization':'KakaoAK 300b45659a38232ba5c1b7d947dc337a'})
    json_obj = result.json()
    for document in json_obj['documents']:
        val = [document['y'],document['x']]
    return val

In [166]:
gu = ['중구'] #, '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구']
lat_list = []
lon_list = []

for g in tqdm_notebook(gu):
    df = pd.read_csv('./' + g +'_맛집_역명.csv', encoding='CP949')
    for i in range(len(df)):
        addrs = df['ADDRESS'][i]
        lat_list.append(addr_to_xy(addrs)[0])
        lon_list.append(addr_to_xy(addrs)[1])
    df['LAT'] = lat_list
    df['LON'] = lon_list
    df.to_csv('./' + g +'_맛집_좌표.csv', encoding='CP949')

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_4724/1786808925.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for g in tqdm_notebook(gu):

  0%|          | 0/1 [00:00<?, ?it/s]

In [206]:
gu = ['강남구','강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구','은평구' ,'송파구']
df = pd.read_csv('./종로구_맛집_좌표.csv', encoding='CP949')
# df.drop(['Unnamed: 0'],axis=1,inplace=True)
df

,Unnamed: 0,NAME,ADDRESS,CATE,SUBCATE,STATION_NAME,LAT,LON
0,0,삼청동수제비본점,서울 종로구 삼청로 101-1,맛집,한식,안국역,37.584610,126.981925
1,1,토속촌삼계탕,서울 종로구 자하문로5길 5-0,맛집,한식,경복궁역,37.577603,126.971632
2,2,더숲초소책방,서울 종로구 인왕산로 172-0,맛집,카페/찻집,무악재역,37.585954,126.964278
3,3,런던베이글뮤지엄,서울 종로구 북촌로4길 20-0,맛집,간이음식,안국역,37.579170,126.986203
4,4,대성집,서울 종로구 사직로 5-0,맛집,한식,독립문역,37.572733,126.960931
...,...,...,...,...,...,...,...,...
63,63,폴바셋광화문점,서울 종로구 종로1길 50-0,맛집,카페/찻집,광화문역,37.574724,126.979022
64,64,순대실록대학로본점,서울 종로구 동숭길 127-0,맛집,한식,혜화역,37.583295,127.003057
65,65,대련집,서울 종로구 종로16길 37-0,맛집,한식,을지로3가역,37.568432,126.989091
66,66,파리크라상광화문점,서울 종로구 종로 1-0,맛집,간이음식,광화문역,37.573054,127.016590
67,67,싸리집,서울 종로구 진흥로 463-0,맛집,한식,보라매역,37.606855,126.960065

In [189]:
d = ['Unnamed: 0.1','Unnamed: 0']
for i in d:
    df.drop(i,axis=1,inplace=True)

In [191]:
df
df.to_csv('./노원구_맛집_좌표.csv', encoding='CP949')

### concat

In [37]:
df1 = pd.read_csv('./강남구_맛집_좌표.csv', encoding='cp949')
df2 = pd.read_csv('./강동구_맛집_좌표.csv', encoding='cp949')
df3 = pd.read_csv('./강서구_맛집_좌표.csv', encoding='cp949')
df4 = pd.read_csv('./강북구_맛집_좌표.csv', encoding='cp949')
df5 = pd.read_csv('./관악구_맛집_좌표.csv', encoding='cp949')
df6 = pd.read_csv('./광진구_맛집_좌표.csv', encoding='cp949')
df7 = pd.read_csv('./구로구_맛집_좌표.csv', encoding='cp949')
df8 = pd.read_csv('./금천구_맛집_좌표.csv', encoding='cp949')
df9 = pd.read_csv('./노원구_맛집_좌표.csv', encoding='cp949')
df10 = pd.read_csv('./동대문구_맛집_좌표.csv', encoding='cp949')
df11 = pd.read_csv('./도봉구_맛집_좌표.csv', encoding='cp949')
df12 = pd.read_csv('./동작구_맛집_좌표.csv', encoding='cp949')
df13 = pd.read_csv('./마포구_맛집_좌표.csv', encoding='cp949')
df14 = pd.read_csv('./서대문구_맛집_좌표.csv', encoding='cp949')
df15 = pd.read_csv('./성동구_맛집_좌표.csv', encoding='cp949')
df16 = pd.read_csv('./성북구_맛집_좌표.csv', encoding='cp949')
df17 = pd.read_csv('./서초구_맛집_좌표.csv', encoding='cp949')
df18 = pd.read_csv('./송파구_맛집_좌표.csv', encoding='cp949')
df19 = pd.read_csv('./영등포구_맛집_좌표.csv', encoding='cp949')
df20 = pd.read_csv('./용산구_맛집_좌표.csv', encoding='cp949')
df21 = pd.read_csv('./양천구_맛집_좌표.csv', encoding='cp949')
df22 = pd.read_csv('./은평구_맛집_좌표.csv', encoding='cp949')
df23 = pd.read_csv('./종로구_맛집_좌표.csv', encoding='cp949')
df24 = pd.read_csv('./중구_맛집_좌표.csv', encoding='cp949')
df25 = pd.read_csv('./중랑구_맛집_좌표.csv', encoding='cp949')

In [55]:
d_list = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25]

In [57]:
c_df = pd.concat(d_list)

In [63]:
fin_df = c_df[['NAME','ADDRESS','CATE','SUBCATE','STATION_NAME','LAT','LON']]
fin_df.to_csv('./서울시맛집.csv',encoding='cp949')